Currently a testing environment, in future will be full the main notebook.

In [189]:
import re
import wikipedia as wp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [262]:
def dataframe_cleaning(table_number=int):
    wiki_page = 'Climate_of_Italy'
    html = wp.page(wiki_page).html()
    df = pd.read_html(html)[table_number]
    df.drop(np.arange(5, len(df.index)), inplace=True)
    df.columns = df.columns.droplevel()
    replace = '[Â°C(Â°F)]*'
    df['Month'] = df['Month'].str.replace(replace, '', regex=True)

    find = '\((.*?)\)'
    for i, column in enumerate(df.columns):
        if 'â\x88\x929.8' in column:
            column = float('-{}'.format(column[-1:-3]))
        if i>0:
            df[column] = (df[column]
                          .str.findall(find)
                          .map(lambda x: np.round((float(x[0])-32)* (5/9), 2)))
    return df

In [263]:
potenza_df = dataframe_cleaning(3)
potenza_df

,Month,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year
0,Record high,20.00,21.78,23.61,25.61,29.78,33.00,36.78,36.78,33.22,30.00,21.78,20.00,36.78
1,Average high,6.89,7.22,9.72,12.78,18.11,22.28,25.72,25.78,21.72,16.50,11.00,7.89,15.44
2,Daily mean,4.00,4.11,6.11,8.78,13.72,17.50,20.61,20.72,17.22,12.72,7.89,5.11,11.56
3,Average low,1.22,1.11,2.50,4.78,9.22,12.72,15.39,15.72,12.72,8.89,4.72,2.28,7.61
4,Record low,-9.61,-10.00,-7.78,-3.61,0.50,4.00,8.00,6.78,1.22,-1.22,-7.22,-7.78,-10.00

In [264]:
milan_df = dataframe_cleaning(4)
milan_df

,Month,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year
0,Record high,21.72,23.78,26.89,32.39,35.50,36.61,37.22,36.89,33.00,28.22,23.00,21.22,37.22
1,Average high,5.89,9.00,14.28,17.39,22.28,26.22,29.22,28.50,24.39,17.78,10.72,6.39,17.72
2,Daily mean,2.50,4.72,9.00,12.22,17.00,20.78,23.61,23.00,19.22,13.39,7.22,3.28,13.00
3,Average low,-0.89,0.28,3.78,7.00,11.61,15.39,18.00,17.61,14.00,9.00,3.72,0.11,8.28
4,Record low,-15.00,-15.61,-7.39,-2.50,-0.78,5.61,8.39,8.00,3.00,-2.28,-6.22,-13.61,-15.61

In [265]:
florence_df = dataframe_cleaning(6)
florence_df

ValueError: could not convert string to float: '−9.8'